
#imageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.img-thumbnail {
    width:100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.img-thumbnail:hover {
    transform: scale(1.05);
}

.modal-body {
    text-align: center;
}

#modalImage {
    max-width: 100%;
    max-height: 70vh;
    margin: auto;
}

